## mysql specific environment
MYSQL_ROOT_PASSWORD=root

## aowow specific environment
## keep as same as in `.env.aowow`
DB_AOWOW_USER=root
DB_AOWOW_PASS=root
DB_WORLD_DB=trinitycore_world
DB_AUTH_DB=trinitycore_auth
DB_CHARACTERS_1_DB=trinitycore_characters

## Setup
SETUP_SKIP=0
## Game server repository URL to retrieve database dumps from.
## Typically don't requires change, but may be useful if github denies unauthenticated cloning.
## When remote server asks for authentication change it like this `https://FIXME_USERNAME:FIXME_PERSONAL_ACCESS_TOKEN@github.com/TrinityCore/TrinityCore.git`
## See https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens#creating-a-personal-access-token-classic for details
SETUP_TC_REPOSITORY=https://github.com/TrinityCore/TrinityCore.git
SETUP_WORLD_DATABASE_DUMP_URL=https://github.com/TrinityCore/TrinityCore/releases/download/TDB335.25101/TDB_full_world_335.25101_2025_10_21.7z
## After database dump was loaded, remaining patches should be applied.
## Initial setup script downloads all patches from the repository
## https://github.com/TrinityCore/TrinityCore/tree/3.3.5/sql/updates/world/3.3.5
## and applies each until the `SETUP_WORLD_DATABASE_LATEST_PATCH_FILENAME` is not applied.
## Set value to empty string to avoid patches download & applying.
SETUP_WORLD_DATABASE_LATEST_PATCH_FILENAME='2026_07_02_00_world.sql'
SETUP_VERBOSE=0
