## `mysql` CLI defaults (required for correct setup and `mysql` CLI working):
## MySQL host (used as default host for `mysql` CLI client)
MYSQL_HOST=mysql
## MySQL user (used as default host for `mysql` CLI client). Keep as same as `DB_AOWOW_USER`
MYSQL_USER=root
## MySQL password (used as default host for `mysql` CLI client). Keep as same as `DB_AOWOW_PASS`
MYSQL_PWD=root
## MySQL database (used as default host for `mysql` CLI client). Keep as same as `DB_AOWOW_DB`
MYSQL_DATABASE=aowow

## PHP specific
PHP_DATE_TIMEZONE=UTC

## AoWoW specific environment
# Web-application HTTP hostname of application accessible from the container network (used by AoWoW to generate URLs):
HTTP_HOST=172.28.0.10
# Web-application HTTP port of application accessible from the container network (used by AoWoW to generate URLs):
HTTP_PORT=80


## AoWoW database host (if you are using `compose.dev.yaml` leave without change)
## By default this hostname is resolved by container engine into IP address of MySQL server container host.
DB_AOWOW_HOST=mysql
DB_AOWOW_PORT=3306
DB_AOWOW_USER=root
DB_AOWOW_PASS=root
DB_AOWOW_DB=aowow
DB_AOWOW_PREFIX=aowow_

## TrinityCore world database host (if you are using `compose.dev.yaml` leave without change)
## By default this hostname is resolved by container engine into IP address of MySQL server container host.
DB_WORLD_HOST=mysql
DB_WORLD_PORT=3306
DB_WORLD_USER=root
DB_WORLD_PASS=root
DB_WORLD_DB=trinitycore_world
DB_WORLD_PREFIX=

## TrinityCore auth database host (if you are using `compose.dev.yaml` leave without change)
## By default this hostname is resolved by container engine into IP address of MySQL server container host.
DB_AUTH_HOST=mysql
DB_AUTH_PORT=3306
DB_AUTH_USER=root
DB_AUTH_PASS=root
DB_AUTH_DB=trinitycore_auth
DB_AUTH_PREFIX=

## TrinityCore characters database host (if you are using `compose.dev.yaml` leave without change)
## By default this hostname is resolved by container engine into IP address of MySQL server container host.
DB_CHARACTERS_1_HOST=mysql
DB_CHARACTERS_1_PORT=3306
DB_CHARACTERS_1_USER=root
DB_CHARACTERS_1_PASS=root
DB_CHARACTERS_1_DB=trinitycore_characters
DB_CHARACTERS_1_PREFIX=


## Setup
SETUP_SKIP=0
SETUP_VERBOSE=0
