[submodule "includes/tools/MPQExtractor"]
	path = includes/tools/MPQExtractor
	url = https://github.com/iamcal/MPQExtractor.git
[submodule "includes/tools/BLPConverter"]
	path = includes/tools/BLPConverter
	url = https://github.com/Kanma/BLPConverter.git
