Order Deny,Allow
<FilesMatch "\.(conf|php|tpl|in)$">
	Deny from all
</FilesMatch>
<FilesMatch "^(index)\.php$">
	Allow from all
</FilesMatch>

# Block view of some folders
Options -Indexes
DirectoryIndex index.php

# Support for UTF8
AddDefaultCharset utf8
<IfModule mod_charset.c>
	CharsetDisable on
	CharsetRecodeMultipartForms Off
</IfModule>

    php_value       default_charset                             UTF-8

RewriteEngine on

# Mapper-Helper: If you cant provide maps for all locales, redirect the browser
    RewriteRule     ^images/maps/(frfr|dede|eses|ruru)/(.*)$    images/maps/enus/$2 [NC]

# accept flattened urls | NYI - need more work :x
    RewriteRule     ^([a-z0-9\-]+)$                             ?$1       [NC]      # /items                 => ?items
    RewriteRule     ^([a-z0-9\-]+)=([^?&]*)$                    ?$1=$2    [NC]      # /items=4.1             => ?items=4.1
    RewriteRule     ^([a-z0-9\-]+)=([^?&]*)[&?](.*)$            ?$1=$2&$3 [NC]      # /items=4.1?filter=sl=7 => ?items=4.1&filter=sl=7
