[mysqld]
# skip-grant-tables
# skip-networking = off
# bind-address = 0.0.0.0
# socket = /run/mysqld/mysqld.sock

max_allowed_packet=16M
innodb_ft_cache_size = 10000000

## <disable-ssl>
## ... Since database is assumed to be used only for development environment inside the private pod network,
##     drop security policy requirement to avoid errors on connection without certificates.
require_secure_transport = off

# ... Some version may require different settings:
# skip-ssl
# ssl=0
# ssl=off
## </disable-ssl>
