div.modelviewer-model div {
    margin-right: 10px;
    float: left;
    width: 61px;
    height: 22px;
    background: url(../images/ruru/modelviewer-picshures.gif) -500px center no-repeat;
}

a.modelviewer-help span {
    display: block;
    width: 83px;
    height: 22px;
    background: url(../images/ruru/modelviewer-picshures.gif) -100px center no-repeat;
}

a:hover.modelviewer-help span {
    background-position: -200px center;
}

a.modelviewer-close span {
    display: block;
    width: 87px;
    height: 22px;
    background: url(../images/ruru/modelviewer-picshures.gif) -300px center no-repeat;
}

a:hover.modelviewer-close span {
    background-position: -400px center;
}

a.screenshotviewer-prev b {
    display: block;
    width: 120px;
    height: 22px;
    background: url(../images/ruru/screenshotviewer-picshures.gif?2) -200px center no-repeat;
}

a.screenshotviewer-next b {
    display: block;
    width: 112px;
    height: 22px;
    background: url(../images/ruru/screenshotviewer-picshures.gif?2) -330px center no-repeat;
}

a.screenshotviewer-cover span {
    width: 87px;
    height: 22px;
}

a.screenshotviewer-cover b {
    display: block;
    width: 87px;
    height: 22px;
    background: url(../images/ruru/screenshotviewer-picshures.gif?2) -100px center no-repeat;
}

a.screenshotviewer-original span {
    display: block;
    width: 142px;
    height: 22px;
    background: url(../images/ruru/screenshotviewer-picshures.gif?2) -460px center no-repeat;
}

a:hover.screenshotviewer-original span {
    background-position: -610px center;
}

a.screenshotviewer-close span {
    display: block;
    width: 87px;
    height: 22px;
    background: url(../images/ruru/screenshotviewer-picshures.gif?2) 0 center no-repeat;
}

a:hover.screenshotviewer-close span {
    background-position: -100px center;
}

#su_searchbox {
    left: -59px !important;
}

/*
#su_weights {
    width: 625px !important;
}
 */
