div.modelviewer-model div {
    margin-right: 10px;
    float: left;
    width: 50px;
    height: 22px;
    background: url(../images/dede/modelviewer-picshures.gif) -540px center no-repeat;
}

a.modelviewer-help span {
    display: block;
    width: 58px;
    height: 22px;
    background: url(../images/dede/modelviewer-picshures.gif) -100px center no-repeat;
}

a:hover.modelviewer-help span {
    background-position: -200px center;
}

a.modelviewer-close span {
    display: block;
    width: 111px;
    height: 22px;
    background: url(../images/dede/modelviewer-picshures.gif) -300px center no-repeat;
}

a:hover.modelviewer-close span {
    background-position: -420px center;
}

a.screenshotviewer-prev b {
    display: block;
    width: 102px;
    height: 22px;
    background: url(../images/dede/screenshotviewer-picshures.gif?2) -240px center no-repeat;
}

a.screenshotviewer-next b {
    display: block;
    width: 83px;
    height: 22px;
    background: url(../images/dede/screenshotviewer-picshures.gif?2) -360px center no-repeat;
}

a.screenshotviewer-cover span {
    width: 111px;
    height: 22px;
}

a.screenshotviewer-cover b {
    display: block;
    width: 111px;
    height: 22px;
    background: url(../images/dede/screenshotviewer-picshures.gif?2) -120px center no-repeat;
}

a.screenshotviewer-original span {
    display: block;
    width: 93px;
    height: 22px;
    background: url(../images/dede/screenshotviewer-picshures.gif?2) -480px center no-repeat;
}

a:hover.screenshotviewer-original span {
    background-position: -580px center;
}

a.screenshotviewer-close span {
    display: block;
    width: 111px;
    height: 22px;
    background: url(../images/dede/screenshotviewer-picshures.gif?2) 0 center no-repeat;
}

a:hover.screenshotviewer-close span {
    background-position: -120px center;
}

#su_searchbox {
    left: -25px !important;
}

/*
#su_weights {
    width: 550px !important;
}
 */
