.summary-picker {
    font-size:13px;
    width:780px;
    height:554px;
    background-color:#303030;
    border:10px solid #303030;
    border-bottom:0;
}

.summary-picker .listview {
    border:0;
}

.summary-picker .listview-band-top {
    background-color:#303030;
}

.summary-tip {
    margin-top:10px;
}

.summary-controls {
    position:relative;
    padding:6px 0 10px 0;
    z-index:25;
}

.summary-controls a {
    margin-right:16px;
}

.summary-controls-right {
    position:absolute;
    text-align:right;
    top:1px;
    right:0;
}

.summary-controls-right a {
    margin-left:6px;
    margin-right:0;
    padding:5px;
}

a#su_addscale {
    position:relative;
    z-index:30;
}

a#su_addscale.selected {
    background-color:#404040;
    border:1px solid #505050;
    border-bottom:none;
    background-position:4px 25%;
    padding-left:24px!important;
    padding-right:9px;
    padding-bottom:14px;
}

#su_weights {
    position:absolute;
    top:29px;
    right:0;
    padding:3px;
    background-color:#404040;
    border:1px solid #505050;
    text-align:left;
    white-space: nowrap;
}

#su_weights table {
    border-collapse:collapse;
}

#su_weights td {
    padding:4px 4px 4px 0;
}

.summary-weights-inner {
    background-color:#181818;
    border:1px solid #383838;
    padding:10px;
}

.summary-weights-inner a {
    margin:0;
}

.summary-weights-buttons {
    margin-top:10px;
    padding-top:12px;
    border-top:1px solid #484848;
}

#su_weight {
    margin-top:10px;
    padding-top:12px;
    border-top:1px solid #484848;
}

#su_weight div {
    padding-bottom:4px;
}

div.summary-group-buttons {
    clear:both;
    text-align:center;
    font-family:Verdana,sans-serif;
    font-size:12px;
}

div.summary-group-controls {
    height:13px;
    margin:1px;
    white-space:nowrap;
    background:url(../images/Summary/group-controls.gif) repeat-x;
}

a.summary-group-dropdown {
    float:left;
    display:block;
    padding:4px 3px 3px 3px;
}

a.summary-group-dropdown span {
    display:block;
    width:10px;
    height:6px;
    background:url(../images/Summary/group-controls.gif) 0 -13px no-repeat;
}

a.summary-group-dropdown:hover span {
    background-position:0 -19px;
}

a.summary-group-focus {
    float:left;
    display:block;
    padding:3px 3px 2px 0;
}

a.summary-group-focus span {
    display:block;
    width:13px;
    height:8px;
    background:url(../images/Summary/group-controls.gif) -37px -13px no-repeat;
}

a.summary-group-focus:hover span,a.summary-group-focus span.selected {
    background-position:-37px -21px;
}

a.summary-group-delete {
    float:right;
    display:block;
    padding:2px 2px 2px 4px;
}

a.summary-group-delete span {
    display:block;
    width:10px;
    height:9px;
    background:url(../images/Summary/group-controls.gif) -10px -13px no-repeat;
}

a.summary-group-delete:hover span {
    background-position:-10px -22px;
}

a.summary-group-drag {
    display:block;
    margin:0 auto;
    width:17px;
    padding:4px 1px 3px 1px;
    cursor:move;
}

a.summary-group-drag span {
    display:block;
    width:17px;
    height:6px;
    background:url(../images/Summary/group-controls.gif) -20px -13px no-repeat;
}

div.summary-group-bottom {
    padding:6px;
}

div.summary-notice {
    background:url(../images/icons/help.gif) 8px 9px no-repeat;
    background-color: #141414;
    border: 1px solid #101010;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 8px 8px 8px 32px;
    position: relative;
}

.summary-notice small {
    position: absolute;
    right: 8px;
}

.grid th {
    padding:6px;
}

.grid td {
    padding:4px 10px;
}

.grid a {
    text-decoration:none;
}

.grid a:hover {
    text-decoration:underline;
}

.grid .checked {
    background-color:#202020;
}

.grid tr:hover td.checked,.grid tr:hover th.checked {
    background-color:#282828;
}

.summary-score-row0 {
    background-color:#282828;
}

.summary-score-row1 {
    background-color:#303030;
}

.summary-score-row0 a,.summary-score-row1 a {
    display:block;
    padding-right:16px;
}

.summary-score-remove {
    float:right;
    padding:0 4px 1px 4px;
    font-family:Verdana,sans-serif;
    font-size:12px;
}

.summary-textnames {
    padding:0 0 10px 0;
}
