#topbar-right a
{
    top: 1px;
}

.tooltip th
{
    height: 8px;
}

#toptabs dt
{
    width: 2px;
}

#topbar-expand a
{
    right: -9px;
}

a.moneyitem, .a.moneysocketmeta, .a.moneysocketred, .a.moneysocketyellow, .a.moneysocketblue
{
    border: 0;
    padding-bottom: 1px;
}

a.moneyitem:hover, .a.moneysocketmeta:hover, .a.moneysocketred:hover, .a.moneysocketyellow:hover, .a.moneysocketblue:hover
{
    padding-bottom: 0;
}

#layers iframe
{
    position: absolute;
    visibility: hidden;
    z-index: 10000000;
    border: 0;
    filter: alpha(opacity=0);
}

#noscript-bg
{
    position: absolute;
    height: 2000px;
}

#ie6layout
{
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

#ie6layout-td, .ie6layout-th
{
    padding: 0;
    margin: 0;
}

.ie6layout-th
{
    width: 13%;
}

#ie6layout.fullwidth .ie6layout-th
{
    width: 10px;
}

#ie6layout-div
{
    width: 998px;
    font-size: 1px;
    height: 0;
}

#main
{
    height: 520px;
}

#main-contents.main-contents
{
height: 498px;
}

.tabs b
{
    visibility: visible;
    font-weight: normal;
    line-height: 29px;
    background: url(../images/tab_tl.gif) top left no-repeat;
}

.tabs a.selected b
{
    font-weight: bold;
}

.iconsmall del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/icons/border_small.png');
}

.iconlarge del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/icons/border_large.png');
}

.iconsmall-socket-meta del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_meta1.png');
}

.iconsmall-socket-meta-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_meta0.png');
}

.iconsmall-socket-red del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_red1.png');
}

.iconsmall-socket-red-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_red0.png');
}

.iconsmall-socket-yellow del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_yellow1.png');
}

.iconsmall-socket-yellow-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_yellow0.png');
}

.iconsmall-socket-blue del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_blue1.png');
}

.iconsmall-socket-blue-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_blue0.png');
}

.iconsmall-socket-prismatic del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_prismatic1.png');
}

.iconsmall-socket-prismatic-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/small/socket_prismatic0.png');
}

.iconmedium-socket-meta del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_meta1.png');
}

.iconmedium-socket-meta-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_meta0.png');
}

.iconmedium-socket-red del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_red1.png');
}

.iconmedium-socket-red-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_red0.png');
}

.iconmedium-socket-yellow del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_yellow1.png');
}

.iconmedium-socket-yellow-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_yellow0.png');
}

.iconmedium-socket-blue del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_blue1.png');
}

.iconmedium-socket-blue-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_blue0.png');
}

.iconmedium-socket-prismatic del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_prismatic1.png');
}

.iconmedium-socket-prismatic-empty del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/sockets/medium/socket_prismatic0.png');
}

.iconsmall a
{
    background-image: url(../images/hilite_small.gif);
}

.iconmedium a
{
    background-image: url(../images/hilite_medium_new.gif);
}

.iconmedium-gold del
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/icons/border_medium_gold.png');
}

.tooltip td, .tooltip th
{
    background-image: url(../images/tooltip.gif);
}

.listview-quicksearch em
{
    right: 3px;
    top: 3px;
}

div.live-search-icon div
{
    background-image: url(../images/border_small.gif);
}

.live-search a, .live-search div div
{
    width: 100%;
}

div.lightbox-outer
{
    position: absolute;
}

div.toolbar img
{
    background: none;
}

img.toolbar-b
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-b.png');
}

img.toolbar-i
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-i.png');
}

img.toolbar-u
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-u.png');
}

img.toolbar-s
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-s.png');
}

img.toolbar-url
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-url.png');
}

img.toolbar-small
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-small.png');
}

img.toolbar-quote
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-quote.png');
}

img.toolbar-code
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-code.png');
}

img.toolbar-ul
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-ul.png');
}

img.toolbar-ol
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-ol.png');
}

img.toolbar-li
{
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='template/images/toolbar-li.png');
}

.rcorners tt, .rcorners strong, .rcorners var, .rcorners em
{
    font-size: 1px;
    background-image: url(../images/corners.gif);
}

#header, .wrapper.nosidebar #main, .wrapper.nosidebar #main-contents.main-contents
{
    height: 1px;
}

#layout, .layout.fullwidth
{
    width: auto;
}

.infobox-spacer, .listview-quicksearch a
{
    font-size: 1px;
}

.iconmedium del, .tooltip p div
{
    background: none;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='images/icons/border_medium.png');
}
