#noscript-bg
{
    filter: alpha(opacity=70);
}

.menu a
{
    min-width: 90%;
}

.progressbar
{
    width: 99%;
}

.listview-band-top input, .listview-band-bottom input, .listview-band-top select, .listview-band-bottom select
{
    vertical-align: middle;
}

.listview-quicksearch a
{
    padding: 4px;
}

.listview-quicksearch input
{
    vertical-align: baseline;
}

div.lightbox-overlay
{
    filter: alpha(opacity=80);
}

div.screenshotviewer-screen a
{
    background: url(../images/pixel.gif) no-repeat;
}

.dragged
{
    filter: alpha(opacity=35);
}

.listview th a, .tabs-container
{
    width: 100%;
}
