body
{
    background: black;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #ccc;
    min-height: 650px;
    height: 90%;
}

form
{
    padding: 0;
    margin: 0;
    display: inline;
}

img, iframe
{
    border: 0;
}

.border
{
    border: 3px solid #404040;
}

a:hover img.border
{
    border-color: #505050;
}

.caption
{
    padding-top: 2px;
    font-size: 11px;
    text-align: right;
}

pre.code
{
    color: #eee;
    margin: 15px;
    margin-top: 2px;
    padding: 10px;
    background-color: #1c1c1c;
    border: 1px dashed #383838;
    line-height: normal;
    font-family: 'Bitstream Vera Sans Mono','Lucida Console','Courier New', Monaco, Courier, monospace;
    overflow: auto;
}

div.quote
{
    color: #eee;
    margin: 2px 15px 15px;
    padding: 10px;
    background-color: #1c1c1c;
    border: 1px solid #383838;
    line-height: normal;
}

.text div.quote
{
    display: table;
}

div.quote ol li div, div.quote li div, pre.code ol li div, pre.code li div
{
    color: #ddd !important;
}

.msg-success
{
    color: #3c3;
    font-weight: bold;
    font-size: 11px;
}

.msg-failure
{
    color: #c33;
    font-weight: bold;
    font-size: 11px;
}

.minipad
{
    padding-bottom: 1px;
    height: 1px;
    overflow: hidden;
    background: transparent;
}

.pad
{
    padding-bottom: 10px;
}

.pad2
{
    padding-bottom: 1em;
}

.pad3
{
    padding-bottom: 2em;
}

.clear
{
    clear: both;
}

a
{
    color: #FFD100;
    cursor: pointer;
    outline: none;
}

a.selected, a.selected:hover
{
    cursor: default;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.text
{
    color: #ccc;
    line-height: 1.4em;
}

.text ul.last, .text ol.last
{
    margin-bottom: 0;
}

.text .h1-links
{
    float: right;
}

.text h1
{
    color: white;
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #505050;
    padding: 0 0 5px;
    margin: 0 0 13px;
    line-height: 1.1em;
}

.text h2
{
    color: white;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 1px solid #505050;
    padding: 26px 0 3px;
    margin: 0 0 13px;
    line-height: 1.25em;
    clear: both;
}

.text h3, .comment-body h3, .forums-post-body h3
{
    color: white;
    font-size: 14px;
    padding: 0;
    margin: 1.5em 0 .5em;
}

.text h1.first, .text h2.first, .text h3.first
{
    padding-top: 0;
    margin-top: 0;
}

.text h1 span.sub, .text h2 span.sub, .text h3 span.sub
{
    display: block;
    font-weight: normal;
    font-size: 12px;
    color: #909090;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h1 a.icontiny span, h2 a.icontiny span, h3 a.icontiny span, h4 a.icontiny span, h5 a.icontiny span
{
    text-decoration:none !important;
}

.tip
{
    border-bottom: 1px dotted #808080;
    cursor: help;
}

#noscript-bg
{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    -moz-opacity: .7;
    opacity: .7;
    z-index: 9999;
}

#noscript-text
{
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    top: 30%;
    font-size: 18px;
    line-height: 1.5em;
    z-index: 10000;
    padding-top: 70px;
    background: url(../images/logo_header.png) center top no-repeat;
}

#noscript-text b
{
    font-size: 22px;
}

#home
{
    text-align: center;
    margin-top: 40px;
    padding-top: 140px;
    background: url(../images/logo.png) top center no-repeat;
}

#home input
{
    margin-right: 2px;
}

#home p
{
    margin: 0;
    padding: 40px 0;
    color: #ccc;
    line-height: 1.75em;
    font-size: 12px;
}

#layout
{
    min-width: 998px;
    max-width: 1240px;
    margin: 0 auto;
}

#layout.fullwidth
{
    min-width: 0;
    max-width: none;
    margin: 0 10px;
}

#header-logo
{
    position: absolute;
    left: 0;
    top: 20px;
    background: url(../images/logo_header.png) left center no-repeat;
}

#header-logo a
{
    display: block;
    width: 160px;
    height: 68px;
    border: 0;
}

#header-ad
{
    position: absolute;
    right: 0;
    width: 728px;
    height: 90px;
    padding-top: 10px;
}

#toptabs
{
    text-align: left;
    white-space: nowrap;
    background: url(../images/header-lines.gif) right bottom repeat-x;
}

#toptabs dl
{
    padding: 0;
    margin: 0;
}

#toptabs dt
{
    display: block;
    float: left;
    margin-right: 5px;
    padding: 0;
}

#toptabs dl a
{
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 8px 0 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFCD55;
    cursor: pointer;
    position: relative;
    background: url(../images/header-tabs.gif) left top no-repeat;
}

#toptabs dl a big
{
    font-size: 16px;
}

#toptabs dl a span
{
    display: block;
    width: 2px;
    height: 32px;
    top: 0;
    right: -2px;
    position: absolute;
    background: url(../images/header-tabs.gif) right top no-repeat;
}

#toptabs dl ins
{
    text-decoration: none;
    position: relative;
    top: 2px;
}

#toptabs dl a:hover, #toptabs dl a.open
{
    background-position: left -32px;
    color: #f6e6b3;
}

#toptabs dl a:hover span, #toptabs dl a.open span
{
    background-position: right -32px;
}

#toptabs dl a.selected
{
    top: 1px;
    background-position: left bottom !important;
    color: white !important;
}

#toptabs dl a.selected span
{
    background-position: right bottom !important;
}

#toptabs dl a.selected ins
{
    top: 0;
}

#toptabs-inner
{
    padding-top: 105px;
}

#toptabs-right
{
    float: right;
    color: #999;
    line-height: 32px;
    height: 32px;
    overflow: hidden;
}

a#toptabs-menu-language
{
    padding-left: 21px;
    background: url(../images/language.gif) left center no-repeat;
}

#topbar-expand
{
    float: right;
    position: relative;
}

#topbar-expand a
{
    position: absolute;
    display: block;
    right: -8px;
    top: 38px;
    background: url(../images/expandsite.gif) no-repeat;
    width: 8px;
    height: 38px;
    outline: none;
    z-index: 10;
}

#topbar-expand a:hover
{
    background-position: 0 -38px;
}

#topbar-right
{
    right: 14px;
    top: 5px;
    float: right;
    position: relative;
}

#topbar-right input
{
    border: 1px solid #a7a6aa;
    height: 18px;
    padding-left: 2px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
}

#topbar-right a
{
    position: absolute;
    top: 0;
    right: -12px;
    z-index: 1;
    width: 22px;
    height: 22px;
    background: url(../images/search.gif) left top no-repeat;
    display: block;
}

#topbar-right a:hover
{
    background-position: left bottom;
}

#topbar
{
    background: #383838;
    border-top: 1px solid #484848;
    border-left: 1px solid #484848;
    border-right: 1px solid #484848;
    padding: 7px 0 7px 3px;
    font-size: 13px;
}

.menu-buttons a
{
    text-decoration: none;
    color: white;
    padding: 3px 8px;
    border: 1px solid #383838;
    font-size: 13px;
    white-space: nowrap;
}

.menu-buttons a.open
{
    background-color: #484848;
    border: 1px solid #282828;
}

#morelink
{
    padding: 3px 0 3px 8px;
}

#sidebar-contents
{
    position: absolute;
    right: 0;
    top: 96px;
}

#sidebar-ad
{
    width: 160px;
    height: 600px;
    padding-top: 10px;
}

#infobox-ad
{
    float: right;
    width: 300px;
    height: 250px;
    background-color: #141414;
    border: 3px solid #404040;
    margin: 0 0 10px 10px;
}

#contribute-ad
{
    float: right;
    width: 300px;
    height: 250px;
    border: 3px solid #404040;
    background-color: #141414;
}

#wrapper
{
    margin-right: 170px;
}

#main
{
    border: 1px solid #282828;
    background: #141414;
    min-height: 520px;
    /*padding: 18px 0px 0px 0px;*/
}

#main-precontents
{
    background: #141414;
    padding: 10px;
    border-left: 1px solid #101010;
    border-right: 1px solid #101010;
}

#main-contents.main-contents
{
    border: 1px solid #404040;
    background-color: #242424;
    border-radius: 2px;
    padding: 10px;
    min-height: 550px;
}

/**************/
/* BREADCRUMB */
/**************/

.breadcrumb {
    cursor: default;
    font-size: 15px;
    padding: 5px 0 5px 20px;
    background: url(../images/favicon.gif) left center no-repeat;
}

span.breadcrumb-arrow  {
    padding-right: 17px;
    background: url(../images/arrow-right.gif) right center no-repeat;
}

span.breadcrumb-ellipsis {
    padding-right: 16px; /* Makes it easier to mouseover */
}

#wrapper.nosidebar
{
    margin: 0 8px 0 0 !important;
}

.path-right
{
    float: right;
    font-size: 14px;
    margin-right: 4px;
}

.path
{
    cursor: default;
    font-size: 15px;
    /*padding: 0 0 10px 20px; */
    padding-left: 20px;
    background: url(../images/favicon.gif) left 1px no-repeat;
}

#footer
{
    font-size: 12px;
    color: #666;
    text-align: center;
    padding-top: 32px;
    margin-bottom: 3em;
}

#beyondfooter
{
    background-color: #141414;
    border-top: 3px solid #282828;
    border-bottom: 3px solid #282828;
    padding: 10px 10px 15px;
    line-height: 1.5em;
}

#beyondfooter h3
{
    margin: 0 0 3px;
}

.toplinks
{
    color: #bbb;
    padding-top: 3px;
    position: absolute;
    height: 20px;
    top: 2px;
    right: 2px;
}

.infobox
{
    float: right;
    margin: 0 0 10px 10px;
    background-color: #141414;
    border: 1px solid #404040;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-bottom: 12px;
}

.infobox-spacer
{
    width: 174px;
    height: 1px;
    background-color: #141414;
}

.infobox th
{
    color: white;
    padding: 12px 12px 10px 12px;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}

.infobox th a
{
    text-decoration: none;
    color: white;
}

.infobox th a:hover
{
    text-decoration: underline;
}

.infobox td
{
    padding: 0 12px 12px;
    font-size: 13px;
    line-height: 1.75em;
    white-space: nowrap;
}

.infobox ul
{
    margin: 0;
    padding-left: 13px;
}

#infobox-sticky img
{
    margin-bottom: 4px;
}

#infobox-sticky-ss, #infobox-sticky-vi
{
    text-align: center;
}

.series
{
    border-collapse: collapse;
    line-height: 1.5em;
}

.series th
{
    padding: .2em 10px 0 0;
    font-weight: normal;
    text-align: right;
    vertical-align: top;
}

.minibox
{
    float: right;
    margin: 0 0 4px 10px;
    background-color: #141414;
    border: 1px solid #404040;
    padding: 8px;
    font-size: 11px;
    text-align: center;
}

.minibox-left
{
    float: left;
    margin-left: 0;
    margin-right: 10px;
}

.minibox h3
{
    margin: 0 0 5px;
}

.menu
{
    position: absolute;
    z-index: 100000002;
}

.menu table td
{
    padding: 0;
    vertical-align: top;
}

.menu p
{
    margin: 0;
    padding: 0;
    position: relative;
}

.menu div
{
    border: 1px solid #202020;
}

.menu div div
{
    border: 2px solid #484848;
    border-top: 1px solid #484848;
    white-space: nowrap;
    font-size: 13px;
}

.menu span
{
    display: block;
    padding: 0 18px 0 0;
}

.menu span span
{
    padding: 0 0 0 18px;
}

.menu span.separator
{
    padding: 4px 9px;
    background: #141414;
    border-top: 1px solid #484848;
    font-weight: bold;
    cursor: default;
}

.menu a
{
    display: block;
    padding: 4px;
    text-decoration: none;
    background-color: #282828;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #101010;
}

.menu a.open, .menu a:hover
{
    border-bottom: 1px solid #202020;
    background-color: #383838;
}

.menu a.input:hover
{
    background-color: #282828;
    border-bottom: 1px solid #101010;
    cursor: default;
}

.menucheck
{
    background: url(../images/menu_check.gif) left center no-repeat;
}

.menusub
{
    background: url(../images/menu_arrow.gif) right center no-repeat;
}

.menuarrow
{
    padding-right: 16px;
    background: url(../images/menu_arrow.gif) right center no-repeat;
}

.menuarrowd
{
    padding-right: 11px;
    background: url(../images/menu_arrowd.gif) right center no-repeat;
}

.tabs li
{
    float: left;
    margin-right: 3px;
    height: 30px;
}

.tabs a
{
    float: left;
    position: relative;
    display: block;
    height: 29px;
    text-decoration: none;
    white-space: nowrap;
    background: #303030 url(../images/tab_tr.gif) no-repeat top right;
    border-bottom: 1px solid #282828;
}

.tabs b
{
    padding: 0 5px;
    display: block;
    visibility: hidden;
}

.tabs div
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    line-height: 30px;
    background: url(../images/tab_tl.gif) top left no-repeat;
}

.tabs-container
{
    position: relative;
    overflow: hidden;
}

.tabs-levels
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.tabs-level
{
    position: relative;
    width: 100%;
    height: 30px;
    overflow: hidden;
}

.tabs-level ul
{
    position: absolute;
    left: 0;
}

.tabbed-contents
{
    border: 1px solid #404040;
    border-top-width: 3px;
    background-color: #141414;
    padding: 8px;
    clear: both;
}

.old-tabs li
{
    display: block;
    float: left;
    position: relative;
    padding: 0;
    margin-right: 3px;
}

.old-tabs a
{
    display: block;
    float: left;
    height: 29px;
    text-decoration: none;
    white-space: nowrap;
    background: #303030 url(../images/tab_tr.gif) no-repeat top right;
    border-bottom: 1px solid #282828;
    line-height: 29px;
    vertical-align: middle;
    padding: 0 9px 0 8px;
}

.old-tabs div
{
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 2px;
    background: url(../images/tab_tl.gif) no-repeat;
}

.iconlist ul li
{
    list-style-position: inside;
    list-style-type: square;
    padding-left: 13px;
}

.iconlist td
{
    padding: 4px 0 6px;
    /* color: white; */
}

.iconlist var
{
    font-size: 1px;
}

.iconlist .iconsmall
{
    margin-right: 4px;
}

.icontab th, .icontab td
{
    border: 0 !important;
}

.icontab td
{
    padding: 0;
    width: 10em;
    font-size: 12px;
    line-height: 1.5em;
}

.icontab th
{
    padding: 0 3px 0 0;
}

.random-enchantments
{
    float: left;
    width: 47%;
}

a.icontiny
{
    text-decoration: none;
}

span.icontiny
{
    background: 0% 50% no-repeat transparent;
    padding-left: 18px !important;
}

.icontiny
{
    background: left center no-repeat;
}

.icontinyr
{
    padding-right: 18px;
    background: right center no-repeat;
}

span.icontiny, a.tinyspecial
{
    padding-left:18px !important;
    background:left center no-repeat;
}

.iconsmall, .iconmedium, .iconlarge
{
    position: relative;
    z-index: 0;
}

.iconlarge
{
    width: 68px;
    height: 68px;
}

.iconsmall ins, .iconmedium ins, .iconlarge ins
{
    display: block;
    position: absolute;
    z-index: 5;
    background-repeat: no-repeat;
}

.iconsmall ins
{
    width: 18px;
    height: 18px;
    left: 4px;
    top: 4px;
}

.iconmedium ins
{
    width: 36px;
    height: 36px;
    left: 4px;
    top: 4px;
}

.iconlarge ins
{
    width: 56px;
    height: 56px;
    left: 6px;
    top: 6px;
}

.iconsmall var, .iconmedium var
{
    display: block;
    position: absolute;
    z-index: 15;
    background-repeat: no-repeat;
}

.iconsmall-socket-meta var
{
    background-image: url(../../images/sockets/small/anim_meta.gif);
}

.iconsmall-socket-yellow var
{
    background-image: url(../../images/sockets/small/anim_yellow.gif);
}

.iconsmall-socket-red var
{
    background-image: url(../../images/sockets/small/anim_red.gif);
}

.iconsmall-socket-blue var
{
    background-image: url(../../images/sockets/small/anim_blue.gif);
}

.iconsmall-socket-prismatic var
{
    background-image: url(../../images/sockets/small/anim_prismatic.gif);
}

.iconmedium-socket-meta var
{
    background-image: url(../../images/sockets/medium/anim_meta.gif);
}

.iconmedium-socket-yellow var
{
    background-image: url(../../images/sockets/medium/anim_yellow.gif);
}

.iconmedium-socket-red var
{
    background-image: url(../../images/sockets/medium/anim_red.gif);
}

.iconmedium-socket-blue var
{
    background-image: url(../../images/sockets/medium/anim_blue.gif);
}

.iconmedium-socket-prismatic var
{
    background-image: url(../../images/sockets/medium/anim_prismatic.gif);
}

.iconsmall del, .iconmedium del, .iconlarge del
{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-repeat: no-repeat;
}

.iconsmall del
{
    width: 26px;
    height: 26px;
    background-image: url(../../images/icons/border_small.png);
}

.iconlarge del
{
    width: 68px;
    height: 68px;
    background-image: url(../../images/icons/border_large.png);
}

a.star-icon-right span
{
    background: url(../images/star.png) no-repeat right center;
    padding-right: 21px !important;
}

.star-icon
{
    background: url(../images/star.png) no-repeat left center;
    padding-left: 21px !important;
}

.star-icon-right
{
    background: url(../images/star.png) no-repeat right center;
    padding-right: 21px !important;
}

.report-icon
{
    padding-left: 16px !important;
    background: url(../images/report.gif) 3px center no-repeat;
}

.book-icon
{
    padding-left: 22px !important;
    background: url(../images/book.gif) no-repeat left center;
}

.rss-icon
{
    padding-left: 18px !important;
    background: url(../images/rss.gif) no-repeat left center;
}

.ajax-icon
{
    background: url(../images/ajax.gif) no-repeat left center;
    padding-left: 18px !important;
}

.autosave-icon
{
    background: url(../images/refresh.gif) no-repeat left center;
    padding-left: 19px !important;
}

.clear-icon
{
    background: url(../images/delete.gif) no-repeat left center;
    padding-left: 19px !important;
}

.additem-icon
{
    background: url(../images/add.gif) no-repeat left center;
    padding-left: 19px !important;
    }

.help-icon
{
    background: url(../images/help.gif) no-repeat left center;
    padding-left: 19px !important;
}

.link-icon
{
    background: url(../images/link.gif) no-repeat left center;
    padding-left: 19px !important;
}

.lock-icon
{
    background: url(../images/locked.gif) no-repeat left center;
    padding-left: 21px !important;
}

.poll-icon
{
    background: url(../images/poll.png) no-repeat 1px center;
    padding-left: 21px !important;
}

.print-icon
{
    background: url(../images/print.gif) left center no-repeat;
    padding-left: 21px !important;
}

.refresh-icon
{
    background: url(../images/refresh.gif) no-repeat left center;
    padding-left: 21px !important;
}

.return-icon
{
    background: url(../images/return.gif) no-repeat left center;
    padding-left: 21px !important;
}

.save-icon
{
    background: url(../images/save.gif) no-repeat left center;
    padding-left: 21px !important;
}

.sticky-icon
{
    background: url(../images/sticky.gif) no-repeat left center;
    padding-left: 21px !important;
}

.twitter-icon
{
    background: url(../images/twitter.gif) left center no-repeat;
    padding-left: 20px !important;
}

.unlock-icon
{
    background: url(../images/unlocked.gif) no-repeat left center;
    padding-left: 21px !important;
}

.wowhead-icon
{
    background: url(../images/favicon.gif) left center no-repeat;
    padding-left: 19px !important;
}

.male-icon
{
    background: url(../images/male.png) left center no-repeat;
    padding-left: 19px !important;
}

.female-icon
{
    background: url(../images/female.png) left center no-repeat;
    padding-left: 19px !important;
}

.us-icon-right
{
    background: url(../images/us.gif) right center no-repeat;
    padding-right: 20px !important;
}

.eu-icon-right
{
    background: url(../images/eu.gif) right center no-repeat;
    padding-right: 20px !important;
}

.boss-icon
{
    background: url(../../images/icons/boss.gif) left center no-repeat;
    padding-left: 15px !important;
}

.boss-icon-padded
{
    background: url(../../images/icons/boss.gif) 6px center no-repeat;
    padding-left: 23px !important;
}

.heroic-icon
{
    background: url(../../images/icons/heroic.gif) left center no-repeat;
    padding-left: 19px !important;
}

.bc-icon
{
    background: url(../../images/icons/bc_icon.gif) right center no-repeat;
    padding-right: 34px !important;
}

.bc-icon-right
{
    background: url(../../images/icons/bc_icon.gif) right center no-repeat;
    padding-right: 34px !important;
}

.wotlk-icon
{
    background: url(../../images/icons/wotlk_icon.gif) right center no-repeat;
    padding-right: 41px !important;
}

.wotlk-icon-right
{
    background: url(../../images/icons/wotlk_icon.gif) right center no-repeat;
    padding-right: 41px !important;
}

.alliance-icon
{
    background: url(../../images/icons/alliance-icon.gif) left center no-repeat;
    padding-left: 12px !important;
}

.alliance2-icon
{
    background: url(../../images/icons/alliance-icon.gif) 4px center no-repeat;
    padding-left: 18px !important;
}

.horde-icon
{
    background: url(../../images/icons/horde-icon.gif) left center no-repeat;
    padding-left: 18px !important;
}

.ffapvp-icon
{
    background: url(../../images/icons/money_ffa.gif) left center no-repeat;
    padding-left: 13px !important;
}

.instance-icon1, .instance-icon2, .instance-icon3, .instance-icon4, .instance-icon5, .instance-icon7
{
    background: url(../../images/icons/instance-icons.gif) no-repeat;
    padding-left: 19px !important;
}

.instance-icon1
{
    background-position: left center;
}

.instance-icon2
{
    background-position: -152px center;
}

.instance-icon3, .instance-icon7
{
    background-position: -357px center;
}

.instance-icon4
{
    background-position: -564px center;
}

.instance-icon5
{
    background-position: -734px center;
}

.iconsmall-socket-meta-empty ins, .iconsmall-socket-yellow-empty ins, .iconsmall-socket-red-empty ins, .iconsmall-socket-blue-empty ins, .iconsmall-socket-prismatic-empty ins
{
    background-image: url(../../images/sockets/small/background.jpg);
}

.iconsmall-socket-red-empty ins
{
    background-position: -18px 0;
}

.iconsmall-socket-blue-empty ins
{
    background-position: -54px 0;
}

.iconmedium-socket-meta-empty ins, .iconmedium-socket-yellow-empty ins, .iconmedium-socket-red-empty ins, .iconmedium-socket-blue-empty ins, .iconmedium-socket-prismatic-empty ins
{
    background-image: url(../../images/sockets/medium/background.jpg);
}

.iconmedium-socket-blue-empty ins
{
    background-position: -108px 0;
}

.iconmedium-socket-prismatic-empty ins
{
    background-position: -144px 0;
}

.iconsmall-socket-meta del
{
    background-image: url(../../images/sockets/small/meta1.png);
}

.iconsmall-socket-meta-empty del
{
    background-image: url(../../images/sockets/small/meta0.png);
}

.iconsmall-socket-red del
{
    background-image: url(../../images/sockets/small/red1.png);
}

.iconsmall-socket-red-empty del
{
    background-image: url(../../images/sockets/small/red0.png);
}

.iconsmall-socket-yellow del
{
    background-image: url(../../images/sockets/small/yellow1.png);
}

.iconsmall-socket-yellow-empty del
{
    background-image: url(../../images/sockets/small/yellow0.png);
}

.iconsmall-socket-blue del
{
    background-image: url(../../images/sockets/small/blue1.png);
}

.iconsmall-socket-blue-empty del
{
    background-image: url(../../images/sockets/small/blue0.png);
}

.iconsmall-socket-prismatic del
{
    background-image: url(../../images/sockets/small/prismatic1.png);
}

.iconsmall-socket-prismatic-empty del
{
    background-image: url(../../images/sockets/small/prismatic0.png);
}

.iconmedium-socket-meta del
{
    background-image: url(../../images/sockets/medium/meta1.png);
}

.iconmedium-socket-meta-empty del
{
    background-image: url(../../images/sockets/medium/meta0.png);
}

.iconmedium-socket-red del
{
    background-image: url(../../images/sockets/medium/red1.png);
}

.iconmedium-socket-red-empty del
{
    background-image: url(../../images/sockets/medium/red0.png);
}

.iconmedium-socket-yellow del
{
    background-image: url(../../images/sockets/medium/yellow1.png);
}

.iconmedium-socket-yellow-empty del
{
    background-image: url(../../images/sockets/medium/yellow0.png);
}

.iconmedium-socket-blue del
{
    background-image: url(../../images/sockets/medium/blue1.png);
}

.iconmedium-socket-blue-empty del
{
    background-image: url(../../images/sockets/medium/blue0.png);
}

.iconmedium-socket-prismatic del
{
    background-image: url(../../images/sockets/medium/prismatic1.png);
}

.iconmedium-socket-prismatic-empty del
{
    background-image: url(../../images/sockets/medium/prismatic0.png);
}

.iconsmall a, .iconmedium a, .iconlarge a
{
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 20;
}

.iconsmall a
{
    width: 20px;
    height: 20px;
    background: url(../../images/icons/hilite_small.png) no-repeat 20px 0;
}

.iconmedium a
{
    width: 38px;
    height: 38px;
    background: url(../../images/icons/hilite_medium_new.png) no-repeat 38px 0;
}

.iconlarge a
{
    width: 62px;
    height: 62px;
    background: url(../../images/icons/hilite_large.png) no-repeat 62px 0;
}

.iconsmall-socket-meta a, .iconsmall-socket-red a, .iconsmall-socket-yellow a, .iconsmall-socket-blue a, .iconsmall-socket-prismatic a
{
    background-image: url(../../images/sockets/small/hilite_socket1.png);
}

.iconsmall-socket-meta-empty a, .iconsmall-socket-red-empty a, .iconsmall-socket-yellow-empty a, .iconsmall-socket-blue-empty a, .iconsmall-socket-prismatic-empty a
{
    background-image: url(../../images/sockets/small/hilite_socket0.png);
}

.iconmedium-socket-meta a, .iconmedium-socket-red a, .iconmedium-socket-yellow a, .iconmedium-socket-blue a, .iconmedium-socket-prismatic a
{
    background-image: url(../../images/sockets/medium/hilite_socket1.png);
}

.iconmedium-socket-meta-empty a, .iconmedium-socket-red-empty a, .iconmedium-socket-yellow-empty a, .iconmedium-socket-blue-empty a, .iconmedium-socket-prismatic-empty a
{
    background-image: url(../../images/sockets/medium/hilite_socket0.png);
}

.iconsmall .glow, .iconmedium .glow, .iconlarge .glow
{
    z-index: 15;
    font-weight: bold;
    cursor: default;
    line-height: normal;
}

.iconsmall .glow
{
    font-size: 11px;
    margin: 2px 5px 2px 4px;
}

.iconmedium .glow
{
    font-size: 13px;
    margin: 4px 6px;
}

.iconlarge .glow
{
    font-size: 18px;
    margin: 4px 6px;
}

.tooltip
{
    visibility: hidden;
    z-index: 100000003;
}

.tooltip table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.tooltip td, .tooltip th
{
    background: url(../images/tooltip.png);
    font-family: Verdana, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: white;
}

.tooltip th
{
    padding: 3px;
    vertical-align: top;
}

.tooltip td
{
    padding: 8px 4px 1px 9px;
    vertical-align: top;
}

.tooltip b
{
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
}

.tooltip div.indent
{
    padding-left: .6em;
}

.tooltip td th, .tooltip td td
{
    background: none;
}

.tooltip td th
{
    padding: 0 0 0 4em;
    text-align: right;
    font-weight: normal;
}

.tooltip p
{
    position: absolute;
    left: -44px;
    top: -1px;
    width: 44px;
    height: 44px;
    background: 4px 4px no-repeat;
    margin: 0;
    padding: 0;
}

.tooltip table.shrink b
{
    font-size: 12px;
    line-height: 15px;
}

.tooltip table.shrink td, .tooltip table.shrink th
{
    font-size: 10px;
    line-height: 14px;
}

.inputbox
{
    width: 30em;
    color: #ccc;
    background-color: #383838;
    border-left: 1px solid #606060;
    border-top: 1px solid #606060;
    border-right: 1px solid #101010;
    border-bottom: 1px solid #101010;
    margin: 0 auto;
    padding: 15px;
    line-height: 1.7em;
}

.inputbox td
{
    padding: 2px;
}

.inputbox h1
{
    color: white;
    font-size: 16px;
    text-align: center;
    padding-bottom: 6px;
    margin: 0;
}

#inputbox-error
{
    color: #c33;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
    text-align: center;
}

.listview
{
    border: 2px solid #404040;
    clear: both;
}

.listview-band-top, .listview-band-bottom
{
    background-color: #404040;
    color: #ccc;
}

.listview-band-top
{
    padding: 3px 3px 6px 6px;
}

.listview-band-bottom
{
    padding: 6px 6px 3px 3px;
}

.listview-band-top input, .listview-band-bottom input, .listview-band-top select, .listview-band-bottom select
{
    font-size: 11px;
    margin-right: .5em;
}

.listview-quicksearch
{
    display: block;
    float: right;
    position: relative;
    margin-right: 1px;
}

.listview-quicksearch a
{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    padding: 3px 3px 2px 2px;
}

.listview-quicksearch a span
{
    display: block;
    width: 12px;
    height: 12px;
    background: url(../images/search2.gif) no-repeat;
}

.listview-quicksearch a:hover span
{
    background-position: 0 -12px;
}

.listview-quicksearch em
{
    position: absolute;
    display: block;
    right: 2px;
    top: 2px;
    width: 13px;
    height: 13px;
    background: url(../images/search4.gif) no-repeat;
}

.listview-quicksearch input
{
    margin: 0;
    border: 1px solid #a7a6aa;
    height: 13px;
    padding-left: 2px;
    font-size: 11px;
    font-family: Arial, sans-serif;
    background: white;
    color: black;
}

.listview-withselected
{
    padding-left: 33px;
    background: url(../images/listview-withselected.gif) 11px 6px no-repeat;
}

.listview-withselected2
{
    padding-left: 33px;
    background: url(../images/listview-withselected.gif) 11px -35px no-repeat;
}

.listview-nav
{
    float: right;
    padding-right: 1px;
    margin-left: 36px;
}

.listview-nav a, .listview-nav span
{
    margin-left: .5em;
}

.listview-note
{
    line-height: 16px;
}

.listview th
{
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    border-bottom: 1px solid #202020;
}

.listview thead div
{
    position: relative;
    border-top: 1px solid #707070;
    border-left: 1px solid #707070;
    border-right: 1px solid #303030;
    border-bottom: 1px solid #303030;
}

.listview thead a
{
    display: block;
    padding: 4px 0;
    text-decoration: none;
    color: white;
    background-color: #585858;
}

.listview thead a span
{
    padding: 0 4px;
}

.listview th a:hover
{
    background-color: #606060;
}

.listview-mode-default, .listview-mode-div, .listview-mode-tiled
{
    background-color: #141414;
}

.listview-mode-default td
{
    padding: 4px;
    color: #ddd;
    text-align: center;
    border: 1px solid #404040;
}

.listview-mode-default .small2
{
    font-size: 11px;
    padding-top: 3px;
}

.listview-mode-default .small3
{
    font-size: 11px;
    color: #707070;
}

.listview-mode-default .crop
{
    height: 1.33333em;
    overflow: hidden;
    line-height: 1.2;
}

.listview tr.checked
{
    background-color: #242424;
}

.listview tr.checked:hover
{
    background-color: #2C2C2C;
}

.listview-nodata
{
    padding: 4px;
    text-align: center;
    background-color: #141414;
}

.listview-clip
{
    overflow: auto;
    background-color: black;
}

.sortasc
{
    background: url(../images/sort_asc.gif) no-repeat right center;
    padding-right: 15px !important;
}

.sortdesc
{
    background: url(../images/sort_desc.gif) no-repeat right center;
    padding-right: 15px !important;
}

.comment
{
    color: #ddd;
    font-size: 13px;
    line-height: 1.5em !important;
    padding: 4px 4px 0;
}

.listview-aci .comment-indent
{
    padding-left: 32px;
}

.comment-header, .comment-header-bt
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    padding: 4px;
    margin-bottom: 4px;
}

.comment-header a.q0, .comment-header-bt a.q0
{
    font-weight: normal;
    color: #aaa !important;
    text-decoration: none;
}

.comment-header
{
    color: #AAA;
    background: #303030;
}

.comment-header-bt
{
    color: #888;
    background: #202020;
}

.comment-rating
{
    font-style: inherit;
    float: right;
    color: white;
}

.comment-body, .comment-body-indent
{
    overflow: auto;
}

.comment-body ol li div, .comment-body li div
{
    color: #ddd;
}

.comment-bt, .comment-bt ol li div, .comment-bt li div
{
    color: #999;
}

.comment-blue, .comment-blue ol li div, .comment-blue li div
{
    color: #00C0FF !important;
}

.comment-green, .comment-green ol li div, .comment-green li div
{
    color: #5DF644 !important;
}

.comment-gold, .comment-gold ol li div, .comment-gold li div
{
    color: #D7CEA4 !important;
}

.comment-pink, .comment-pink ol li div, .comment-pink li div
{
    color: #F9F !important;
}

.comment-edit-modes a
{
    padding: 0 5px;
}

.comment-edit-buttons
{
    padding-top: 4px;
}

.comment-edit-body textarea
{
    width: 98%;
    height: 11em;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 3px 0;
}

.comment-lastedit
{
    padding-top: 4px;
    font-style: italic;
    color: #9d9d9d;
    font-size: 11px;
}

.comment-links
{
    font-style: inherit;
    text-align: right;
    font-size: 11px;
    padding: 0 2px 2px 0;
    color: #ddd;
}

.comment-links span, .comment-links span
{
    padding-right: 5px;
}

.screenshot-cell
{
    cursor: pointer;
    padding: 10px 4px;
    text-align: center;
}

.screenshot-cell img
{
    border: 2px solid #404040;
    background-color: #080808;
    margin-bottom: 3px;
}

.screenshot-cell-user
{
    width: 100%;
    overflow: hidden;
    font-size: 11px;
    padding-bottom: 5px;
    color: #ccc;
}

.screenshot-caption, .screenshot-caption-over
{
    width: 100%;
    position: absolute;
    line-height: 18px;
}

.screenshot-caption
{
    overflow: hidden;
    height: 1.33333em;
    padding: 1px;
    left: 0;
    top: 0;
    z-index: 0;
}

.screenshot-caption-over
{
    color: white;
    background-color: #505050;
    border: 1px solid #303030;
    padding: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.screenshot-caption span, .screenshot-caption-over span
{
    font-size: 11px;
    font-weight: bold;
}

.pet-model
{
    position: relative;
    background-color: #101010;
    width: 200px;
    height: 150px;
    border: 3px solid #404040;
    margin: 0 auto;
    margin-bottom: 3px;
}

a.pet-zoom
{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 200px;
    height: 150px;
    background: url(../images/pet-zoom2.gif) 180px 130px no-repeat;
}

a:hover.pet-zoom
{
    background-position: 180px -70px;
}

.grid
{
    width: 100%;
    clear: both;
    border-collapse: collapse;
    background-color: #141414;
    border: 3px solid #404040;
}

.grid td
{
    padding: 4px;
    color: #ddd;
    font-size: 13px;
}

.grid th
{
    vertical-align: top;
    font-weight: normal;
    color: white;
    padding: 4px;
    text-align: left;
    white-space: nowrap;
}

.grid td, .grid th
{
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    border-left: 1px solid #282828;
    border-right: 1px solid #282828;
}

.progressbar
{
    display: block;
    border: 1px solid #404040;
    background: black;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.5em;
    color: white;
    text-decoration: none;
    position: relative;
    margin: 1px 0 3px;
}

.progressbar ins
{
    display: none;
    text-decoration: none;
}

a.progressbar
{
    cursor: default;
}

a.progressbar:hover
{
    border: 1px solid #606060;
}

a.progressbar:hover ins
{
    display: inline;
}

.progressbar-text
{
    position: absolute;
    left: 0;
    top: 1px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.progressbar-rep0
{
    border-top: 1px solid #b82e21;
    border-bottom: 1px solid #9c2319;
    background-color: #861c10;
}

.progressbar-rep1
{
    border-top: 1px solid #c9662b;
    border-bottom: 1px solid #b05421;
    background-color: #994515;
}

.progressbar-rep2
{
    border-top: 1px solid #d59b31;
    border-bottom: 1px solid #bf8626;
    background-color: #aa7419;
}

.progressbar-rep3
{
    border-top: 1px solid #d2b130;
    border-bottom: 1px solid #bb9b25;
    background-color: #a68818;
}

.progressbar-rep4
{
    border-top: 1px solid #a4a201;
    border-bottom: 1px solid #8d8b01;
    background-color: #777601;
}

.progressbar-rep5
{
    border-top: 1px solid #74a001;
    border-bottom: 1px solid #638701;
    background-color: #527001;
}

.progressbar-rep6
{
    border-top: 1px solid #30a601;
    border-bottom: 1px solid #288b01;
    background-color: #217201;
}

.progressbar-rep7
{
    border-top: 1px solid #0aa087;
    border-bottom: 1px solid #068870;
    background-color: #007564;
}

.progressbar-ach0
{
    border-top: 1px solid #2b98c9;
    border-bottom: 1px solid #2082af;
    background-color: #157099;
}

.progressbar-ach1
{
    border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #686868;
    background-color: #575757;
}

.article-footer
{
    background: url(../images/article.gif) left 3px no-repeat;
    color: #9d9d9d;
    margin-top: 1em;
    font-size: 11px;
    padding: 3px 0 3px 20px;
}

a.button-red
{
    position: relative;
    display: block;
    float: right;
    text-decoration: none;
    cursor: pointer;
    line-height: 21px;
    color: #FFD100;
    font-weight: bold;
    font-size: 11px;
    background: url(../images/button-red.gif) left 0 no-repeat;
    padding-left: 13px;
    white-space: nowrap;
    outline: none;
    margin-left: 8px;
}

a.button-red span
{
    display: block;
    position: relative;
    z-index: 5;
}

a.button-red i
{
    position: absolute;
    left: -1px;
    top: 2px;
    z-index: 1;
    font-style: normal;
    color: black;
}

a.button-red em
{
    display: block;
    font-style: normal;
    padding-right: 13px;
    background: url(../images/button-red.gif) right 0 no-repeat;
}

a.button-red b
{
    display: block;
    position: absolute;
}

a:hover.button-red
{
    color: white;
    background-position: left -21px;
}

a:hover.button-red em
{
    background-position: right -21px;
}

a:active.button-red
{
    background-position: left -63px;
}

a:active.button-red em
{
    background-position: right -63px;
}

a:active.button-red span, a:active.button-red i
{
    left: -2px;
}

a:active.button-red-disabled i
{
    left: -1px;
}

a.button-red-disabled, a:hover.button-red-disabled
{
    background-position: left -84px !important;
    color: #A0A0A0;
    cursor: default;
}

a.button-red-disabled em, a:hover.button-red-disabled em
{
    background-position: right -84px !important;
}

.live-search
{
    position: absolute;
    z-index: 100000001;
    left: 0;
    top: 0;
    background: #484848;
    border: 1px solid #202020;
    padding: 0 2px 2px;
    white-space: nowrap;
    color: #FFD100;
    font-size: 12px;
}

.live-search div
{
    background-color: #282828;
}

.live-search div div
{
    background-color: transparent;
    position: relative;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #101010;
    overflow: hidden;
}

.live-search a
{
    display: block;
    text-decoration: none;
    padding: 4px;
    padding-left: 28px;
}

.live-search a:hover
{
    color: #FFD100;
}

.live-search i
{
    display: block;
    position: absolute;
    font-style: normal;
    line-height: 1.5em;
    top: 3px;
    right: 0;
    padding: 0 4px;
    font-size: 11px;
    color: #808080;
    background: #282828;
}

.live-search a:hover i
{
    padding-right: 18px;
    background-image: url(../images/search-arrow.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

div.live-search-selected div
{
    border-bottom: 1px solid #202020;
    color: white;
}

div.live-search-icon
{
    background-position: 4px 3px;
    background-repeat: no-repeat;
}

div.live-search-icon div
{
    background-image: url(../../images/icons/border_small.png);
    background-position: left center;
    background-repeat: no-repeat;
}

div.live-search-icon-boss
 {
    background-image: url(../../images/icons/boss.gif);
    background-position: 8px center;
    background-repeat: no-repeat;
}

div.live-search-icon-quest-alliance
{
    background-image: url(../../images/icons/alliance-icon.gif);
    background-position: 9px 5px;
    background-repeat: no-repeat;
}

div.live-search-icon-quest-horde
{
    background-image: url(../../images/icons/horde-icon.gif);
    background-position: 6px 5px;
    background-repeat: no-repeat;
}

div.lightbox-outer
{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 1px;
    height: 1px;
    font-size: 1px;
    z-index: 60;
}

div.lightbox-inner
{
    position: absolute;
    z-index: 70;
}

div.lightbox-overlay
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: black;
    opacity: .8;
    z-index: 50;
}

div.modelviewer-screen
{
    background-color: #141414;
    width: 600px;
    height: 400px;
    overflow: hidden;
    text-align: center;
}

div.modelviewer-quality
{
    float: left;
    padding: 10px 0;
}

div.modelviewer-quality span
{
    float: left;
    display: block;
    line-height: 22px;
}

div.modelviewer-model
{
    padding: 10px 0;
}

div.screenshotviewer-screen
{
    background-color: black;
    position: relative;
    text-align: center;
}

div.screenshotviewer-screen a
{
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    height: 100%;
}

a.screenshotviewer-prev
{
    left: 0;
    width: 50%;
}

a.screenshotviewer-next
{
    left: 50.5%;
    width: 50%;
}

a.screenshotviewer-cover
{
    left: 0;
    width: 100%;
}

div.screenshotviewer-screen a span
{
    display: none;
    position: absolute;
    top: 10%;
    padding: 10px;
    background-color: #303030;
}

div.screenshotviewer-screen a:hover span
{
    display: block;
}

a.screenshotviewer-next span
{
    right: 0;
}

a.screenshotviewer-cover span
{
    position: static !important;
    margin: 0 auto;
}

div.screenshotviewer-from
{
    padding-top: 10px;
    font-size: 11px;
    color: #ccc;
}

div.screenshotviewer-caption
{
    font-size: 11px;
    font-weight: bold;
    padding: 5px 0 10px;
}

div.dialog
{
    font-size: 12px;
    background: #303030;
    padding: 10px 10px 0;
}

div.dialog .text
{
    padding: 10px;
    background: #141414;
}

div.dialog th
{
    text-align: right;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: top;
    line-height: 24px;
    padding: 3px;
}

div.dialog td
{
    vertical-align: top;
    padding: 3px;
}

div.dialog textarea
{
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 3px 0;
}

div.toolbar button
{
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
}

div.toolbar img
{
    width: 16px;
    height: 16px;
    background: url(../images/toolbar.png) no-repeat;
}

img.toolbar-b
{
    background-position: 0 0 !important;
}

img.toolbar-i
{
    background-position: -16px 0 !important;
}

img.toolbar-u
{
    background-position: -32px 0 !important;
}

img.toolbar-s
{
    background-position: -48px 0 !important;
}

img.toolbar-url
{
    background-position: -64px 0 !important;
}

img.toolbar-small
{
    background-position: -80px 0 !important;
}

img.toolbar-quote
{
    background-position: -96px 0 !important;
}

img.toolbar-code
{
    background-position: -112px 0 !important;
}

img.toolbar-ul
{
    background-position: -128px 0 !important;
}

img.toolbar-ol
{
    background-position: -144px 0 !important;
}

img.toolbar-li
{
    background-position: -160px 0 !important;
}

.disclosure-on, .disclosure-off
{
    background: url(../images/disclosure_arrow.gif) no-repeat left center;
    padding-left: 15px;
}

.disclosure-off
{
    background-position: -740px center;
}

a.disclosure-on, a.disclosure-off
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a.captcha
{
    display: block;
    width: 150px;
    height: 40px;
    margin: 8px 1px;
}

a.captcha:hover
{
    border: 1px dotted #747474;
    margin: 7px 0;
    background-color: #343434;
}

.tabbed-contents a.captcha:hover
{
    border: 1px dotted #686868;
    background-color: #282828;
}

.inputbox a.captcha:hover
{
    border: 1px dotted #888;
    background-color: #484848;
}

h1.h1-icon
{
    padding-top: 5px;
}

div.h1-icon
{
    float: left;
    position: relative;
    top: -4px;
    left: -4px;
    margin-right: 2px;
    margin-bottom: -4px;
}

.dragged
{
    z-index: 1000;
    opacity: .35;
    -moz-opacity: .35;
}

.pages var
{
    float: right;
    color: #ccc;
    font-style: normal;
    padding: 3px 0;
    margin: 0;
}

.pages var span
{
    margin: 0 6px;
    color: #9d9d9d;
}

.pages .gotopage
{
    margin-right: 6px;
    padding: 0 9px;
    cursor: pointer;
    background: url(../images/forums-pages.gif) no-repeat left center;
}

.pages-numbers a, .pages-numbers span
{
    float: right;
    margin: 0 2px;
    font-size: 11px;
}

.pages-numbers a
{
    padding: 3px 6px;
    border: 1px solid #404040;
    background-color: #141414;
    text-decoration: none;
}

.pages-numbers a:hover
{
    background-color: #303030;
}

.pages-numbers span
{
    padding: 3px;
    font-size: 13px;
}

.pages-numbers span.selected
{
    padding: 3px 6px;
    color: white;
    background-color: #404040;
    border: 1px solid #404040;
    font-weight: bold;
    font-size: 11px;
}

.rcorners
{
    border-radius:3px;
}

#fi
{
    color: #ccc;
}

#fi table
{
    border-collapse: collapse;
    border: 0;
}

#fi table td
{
    padding: 0;
    border: 0;
}

#fi .padded
{
    padding-top: 12px;
    white-space: nowrap;
}

#fi .padded2
{
    padding-top: 8px;
}

#fi .rightselect
{
    margin-top: 2px;
}

#fi .rightpanel
{
    float: right;
    text-align: right;
}

#fi .rightpanel2
{
    float: right;
    text-align: right;
    padding-right: 10px;
}

#fi .smalltextbox
{
    text-align: center;
    width: 2em;
}

#fi .smalltextbox2
{
    text-align: center;
    width: 2.3em;
}

.criteria div
{
    padding-bottom: 4px;
}

#tw5ekjm9wex1
{
    padding: 10px;
    border: 1px solid #363636;
    background-color: #141414;
    float: left;
}

#lnewwegnwe53 div
{
    position: absolute;
    right: -9px;
    top: -33px;
}

#fi_weight
{
    margin-top: 10px;
    padding-top: 12px;
    border-top: 1px solid #484848;
}

small, .listview-mode-default .small, .comment-edit-modes, .comment-edit-body
{
    font-size: 11px;
}

a:hover, a.open, .text b, .text ol li div, .text li div, .infobox li div, .minibox h3 a, .comment-body b, .comment-body h3
{
    color: white;
}

.text ul, .text ol, .comment-body ul, .comment-body ol
{
    margin: 1em 0;
    padding-left: 26px;
}

.text ul.first, .text ol.first, .comment-body h3.first
{
    margin-top: 0;
}

.text ol li, .comment-body ol li
{
    color: #E5CC80;
}

.text ul li, .infobox li, .comment-body ul li
{
    color: #c3030b;
    list-style-type: square;
}

.text li, .comment-body li
{
    list-style-position: outside;
    line-height: 1.75em;
}

.text h3 small, .infobox th small, .comment-links a
{
    font-weight: normal;
}

#home h1, #header-logo h1
{
    position: absolute;
    left: -2323px;
    top: -2323px;
}

#header, #sidebar, .rcorners, #lnewwegnwe53
{
    position: relative;
}

#toptabs-right a, .toplinks a
{
    margin: 0 6px;
}

.menu-buttons a:hover, .tooltip a:hover, .listview-mode-default tbody a:hover, .comment-header a.q0:hover, .comment-header-bt a.q0:hover, a.disclosure-on:hover, a.disclosure-off:hover
{
    text-decoration: underline;
}

/* probably unnessecary
#wrapper.nosidebar #main, #wrapper.nosidebar
{
    min-height: 0;
}
*/

#footer a, #beyondfooter a
{
    margin: 0 .5em;
}

#infobox-sticky, .listview-cb
{
    text-align: center;
}

.series td, .iconlist th, .tooltip td td, .listview thead a span span
{
    padding: 0;
}

.minibox small, .minibox small a, .comment-lastedit a
{
    color: #9d9d9d;
}

.menu table, .inputbox table
{
    border-collapse: collapse;
}

.menu em, .menu var, .menu strong, .live-search em, .live-search var, .live-search strong
{
    display: block;
    position: absolute;
    background: url(../images/menu_shadow.png) no-repeat;
}

.menu em, .live-search em
{
    width: 5px;
    top: 0;
    bottom: 0;
    right: -5px;
    background-position: right top;
}

.menu var, .live-search var
{
    width: 5px;
    height: 6px;
    right: -5px;
    bottom: -6px;
    background-position: right bottom;
}

.menu strong, .live-search strong
{
    height: 6px;
    left: 0;
    right: 0;
    bottom: -6px;
    background-position: left bottom;
}

.tabs, .old-tabs, .iconlist ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tabs a:hover, .old-tabs a:hover
{
    background-color: #383838;
    border-bottom: 1px solid #303030;
}

.tabs a.selected, .tabs a.selected:hover, .old-tabs a.selected, .tabs a.selected:hover
{
    background-color: #404040;
    border-bottom: 1px solid #404040;
}

.iconlist, .icontab
{
    border-collapse: collapse;
    margin-top: 4px;
}

.icontab tr, .listview-mode-tiled td.empty-cell:hover
{
    background: none !important;
}

.q6, .q6 a, .q7, .q7 a
{
    color: #e5cc80 !important;
}

.iconsmall, .iconsmall var
{
    width: 26px;
    height: 26px;
}

.iconmedium, .iconmedium var
{
    width: 44px;
    height: 44px;
}

.iconsmall-socket-meta-empty ins, .iconmedium-socket-meta-empty ins, .iconsmall a:hover, .iconmedium a:hover, .iconlarge a:hover
{
    background-position: 0 0;
}

.iconsmall-socket-yellow-empty ins, .iconmedium-socket-red-empty ins
{
    background-position: -36px 0;
}

.iconsmall-socket-prismatic-empty ins, .iconmedium-socket-yellow-empty ins
{
    background-position: -72px 0;
}

.iconmedium del, .tooltip p div
{
    width: 44px;
    height: 44px;
    background-image: url(../../images/icons/border_medium.png);
}

.iconmedium-gold del
{
    background-image: url(../../images/icons/border_medium_gold.png);
}

.iconmedium-gold-selected del
{
    background-image: url(../../images/icons/border_medium_gold_selected.png);
}

.iconlarge-gold-selected  del
{
    background-image: url(../../images/icons/border_large_gold_selected.png);
}

.iconmedium-gold a
{
    background: none !important;
    cursor: default;
}

.tooltip a, .listview-mode-default tbody a, .progressbar del
{
    text-decoration: none;
}

.listview-void, a.progressbar:hover del
{
    display: none;
}

.listview table, div.dialog table
{
    width: 100%;
    border-collapse: collapse;
}

a.modelviewer-help, a.screenshotviewer-original
{
    float: right;
    display: block;
    padding: 10px 0 10px 10px;
    margin-right: 10px;
}

a.dialog-yes, a.dialog-okay
{
    float: right;
    display: block;
    padding-left: 10px;
    margin-right: 10px;
}

a.modelviewer-close, a.screenshotviewer-close
{
    float: right;
    display: block;
    padding: 10px 0 10px 10px;
}

a.dialog-no, a.dialog-cancel
{
    float: right;
    display: block;
    padding-left: 10px;
}

.dialog-thumbup, a.dialog-thumbdown, a.dialog-okay, a.dialog-cancel, a.dialog-question, a.dialog-arrow
{
    padding-right: 22px;
    margin: 10px 0 10px 10px;
    line-height: 22px;
    height: 22px;
    display: block;
    float: right;
    color: #a0a0a0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    font-family: Tahoma, sans-serif !important;
}

.dialog-thumbup:hover, a.dialog-thumbdown:hover, a.dialog-okay:hover, a.dialog-cancel:hover, a.dialog-question:hover, a.dialog-arrow:hover
{
    color: #e0e0e0;
}

.dialog-cancel
{
    padding-right: 24px !important;
}

.dialog-thumbup
{
    background: url(../images/dialog_icons.gif) right 0 no-repeat;
}

.dialog-thumbup:hover
{
    background-position: right -154px;
}

.dialog-thumbdown
{
    background: url(../images/dialog_icons.gif) right -22px no-repeat;
}

.dialog-thumbdown:hover
{
    background-position: right -176px;
}

.dialog-okay
{
    background: url(../images/dialog_icons.gif) right -44px no-repeat;
}

.dialog-okay:hover
{
    background-position: right -198px;
}

.dialog-cancel
{
    background: url(../images/dialog_icons.gif) right -66px no-repeat;
}

.dialog-cancel:hover
{
    background-position: right -220px;
}

.dialog-question
{
    background: url(../images/dialog_icons.gif) right -88px no-repeat;
}

.dialog-question:hover
{
    background-position: right -242px;
}

.dialog-arrow
{
    background: url(../images/dialog_icons.gif) right -132px no-repeat;
}

.dialog-arrow:hover
{
    background-position: right -286px;
}

a.dialog-left
{
    padding-left: 22px;
    height: 22px;
    display: block;
    float: left;
    background: url(../images/dialog_icons.gif) 0 -110px no-repeat;
}

a.dialog-right
{
    padding-right: 22px;
    height: 22px;
    display: block;
    float: left;
    background: url(../images/dialog_icons.gif) right -264px no-repeat;
}

div.modelviewer a.dialog-cancel
{
    clear: right;
    margin-top: 5px;
}

div.modelviewer a.dialog-question
{
    margin-top: 5px;
}

.listview-mode-default tbody tr, .listview-mode-tiled td, .listview-cb input
{
    cursor: pointer;
}

.listview-mode-default tbody tr:hover, .listview-mode-tiled td:hover, .grid tr:hover
{
    background-color: #202020;
}

.listview-mode-tiled td.empty-cell, a.button-red-disabled
{
    cursor: default !important;
}

.comment-header a, .comment-header-bt a, .comment-rating span, .screenshot-cell-user a
{
    font-weight: bold;
}

.grid .iconsmall, .grid .iconmedium, .dragged .iconsmall, .dragged .iconmedium, .pages-left var, .pages-left .pages-numbers a, .pages-left .pages-numbers span
{
    float: left;
}

a:active.button-red-disabled span, a.screenshotviewer-prev span
{
    left: 0;
}

div.live-search-selected i, div.live-search-selected
{
    background-color: #383838;
}

div.modelviewer, div.screenshotviewer
{
    padding: 10px 10px 0;
    background-color: #303030;
    font-size: 13px;
}

div.announcement-pagetop div.announcement-inner {
    margin-top: 10px;
}

div.announcement-pagetop div.announcement-inner, div.announcement-contenttop div.announcement-inner {
    background-color: #141414;
    border: 1px solid #101010;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

div.announcement-inner {
    background-position: 0 center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding: 8px;
    position: relative;
}

/* Close button */
a.announcement-close {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/delete.gif) center center no-repeat;
    position: absolute;
    right: 8px;
    top: 8px;
}

/* .text overrides */
div.announcement ul {
    margin: 0.25em 0 !important;
}
div.announcement h3 {
    margin-top: 0 !important;
    margin-bottom: 0.25em !important;
}
div.announcement li {
    line-height: 1.75em !important;
}

/* jQuery replacement */
.announcement {
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -o-transition: .5s ease;
    -ms-transition: .5s ease;
    transition: .5s ease;
}