/*
    file reconstructed!
    width, left, background-position values may need adjustment!
*/

#topbar-right input.search-database
{
    background: white url(../images/eses/searchdatabase.gif) .2em center no-repeat;
}

.listview-quicksearch input.search-within-results
{
    background: white url(../images/eses/searchwithinresults.gif) .2em center no-repeat;
}

.listview-quicksearch input.search-within-results2
{
    background: white url(../images/eses/searchwithinresults2.gif) .2em center no-repeat;
}

div.modelviewer-quality div
{
    float: left;
    width: 70px;
    height: 22px;
    margin-right: 10px;
    background: url(../images/eses/modelviewer-picshures.gif) left center no-repeat;
}

div.modelviewer-model div
{
    margin-left: 40px;
    margin-right: 5px;
    float: left;
    width: 80px;
    height: 22px;
    background: url(../images/eses/modelviewer-picshures.gif) -500px center no-repeat;
}

a.modelviewer-help span
{
    display: block;
    width: 50px;
    height: 22px;
    background: url(../images/eses/modelviewer-picshures.gif) -100px center no-repeat;
}

a:hover.modelviewer-help span
{
    background-position: -200px center;
}

a.modelviewer-close span
{
    display: block;
    width: 79px;
    height: 22px;
    background: url(../images/eses/modelviewer-picshures.gif) -300px center no-repeat;
}

a:hover.modelviewer-close span
{
    background-position: -400px center;
}

a.screenshotviewer-prev b
{
    display: block;
    width: 95px;
    height: 22px;
    background: url(../images/eses/screenshotviewer-picshures.gif?2) -200px center no-repeat;
}

a.screenshotviewer-next b
{
    display: block;
    width: 95px;
    height: 22px;
    background: url(../images/eses/screenshotviewer-picshures.gif?2) -300px center no-repeat;
}

a.screenshotviewer-cover span
{
    width: 66px;
    height: 22px;
}

a.screenshotviewer-cover b
{
    display: block;
    width: 66px;
    height: 22px;
    background: url(../images/eses/screenshotviewer-picshures.gif?2) -100px center no-repeat;
}

a.screenshotviewer-original span
{
    display: block;
    width: 93px;
    height: 22px;
    background: url(../images/eses/screenshotviewer-picshures.gif?2) -400px center no-repeat;
}

a:hover.screenshotviewer-original span
{
    background-position: -500px center;
}

a.screenshotviewer-close span
{
    display: block;
    width: 90px;
    height: 22px;
    background: url(../images/eses/screenshotviewer-picshures.gif?2) 0 center no-repeat;
}

a:hover.screenshotviewer-close span
{
    background-position: -100px center;
}

#su_searchbox
{
    left: -68px !important;
}

/*
#su_weights
{
    width: 500px !important;
}
 */