/*
 TalentCalc_ie6.css version 278
*/
.talentcalc-upper {
height:1px;
}

.iconmedium a.bubbly {
background-image:url(../../../images/talent/hilite_medium_talent.gif);
}

.talentcalc-arrow-leftdown td {
background-image:url(../../../images/talent/arrows/leftdown.gif);
}

.talentcalc-arrow-leftdown2 td {
background-image:url(../../../images/talent/arrows/leftdown2.gif);
}

.talentcalc-arrow-rightdown td {
background-image:url(../../../images/talent/arrows/rightdown.gif);
}

.talentcalc-arrow-rightdown2 td {
background-image:url(../../../images/talent/arrows/rightdown2.gif);
}

.talentcalc-arrow-right td {
background-image:url(../../../images/talent/arrows/right.gif);
}

.talentcalc-arrow-right2 td {
background-image:url(../../../images/talent/arrows/right2.gif);
}

.talentcalc-arrow-left td {
background-image:url(../../../images/talent/arrows/left.gif);
}

.talentcalc-arrow-left2 td {
background-image:url(../../../images/talent/arrows/left2.gif);
}

.iconmedium div.icon-bubble {
background:none;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/talent/bubble2.png');
}

.talentcalc-lower a {
filter:alpha(opacity=33.33);
}

.talentcalc-lower a:hover {
filter:alpha(opacity=100);
}

.talentcalc-arrow-down td,.talentcalc-arrow-leftdown th,.talentcalc-arrow-rightdown th {
background-image:url(../../../images/talent/arrows/down.gif);
}

.talentcalc-arrow-down2 td,.talentcalc-arrow-leftdown2 th,.talentcalc-arrow-rightdown2 th {
background-image:url(../../../images/talent/arrows/down2.gif);
}