#tc-classes {
width:946px;
margin:0 auto;
padding-bottom:10px;
}

#tc-classes-inner {
width:460px;
margin:0 auto;
text-align:center;
z-index:3;
}

#tc-classes p {
font-size:32px;
margin:0 0 16px;
padding:0;
}

#tc-classes .iconmedium {
float:left;
margin-right:2px;
opacity:.6666;
}

#tc-classes.choose {
position:relative;
padding:0;
}

#tc-classes.choose #tc-classes-outer {
width:614px;
}

#tc-classes.choose #tc-classes-inner {
position:absolute;
left:77px;
top:150px;
}

#tc-classes .iconmedium-gold,#tc-classes.choose .iconmedium {
opacity:1;
}