.wowhead-tooltip td, .wowhead-tooltip th {
    background-image:url(../../images/tooltip.gif);
}
.wowhead-tooltip p div {
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/icon_border_medium.png');
}
.wowhead-tooltip-powered {
    background:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/powered.png');
}
